* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-background: #151921;
    --bottom-toolbar-background: #282828;
    --header-background: #0d0f14d8; 
}

/* UTILIY STYLING */

.round {
    border-radius: 50%;
}

.cut-corners {
    border-radius: 5px;
}

.rounded-sides {
    border-radius: 56px;
}

.white {
    color: #fff;
}

.background-black {
    background-color: black;
}

.grey {
    color: #5f5f5f;
}

ul {
    list-style: none;
}

.thumbnail {
    width: 180px;
}

/* DEBUGGING */

body {
    background-color: blueviolet;
}

/* TOP LEVEL LAYOUT */

body {
    display: grid;
    grid-template: 
        "navigation header " 10vh
        "navigation main " 80vh
        "controls controls " 10vh /
        12vw 88vw;

    height: 100vh;
    width: 100vw;
}

header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
    overflow: scroll;
}

main {
    grid-area: main;
    overflow: scroll;
}

section {
    grid-area: controls;
}

/* LEFT NAVIGATION SECTION */

.spotify-icon {
    fill: #fff;
}

.create-playlist-icon {
    height: 24px;
    width: 24px;
    background-color: #999999;
    position: relative;
    display: inline-block;
}

.icon-svg {
    position: absolute;
    left: 6px;
    top: 6px;
}

.navigation li:hover {
    color: #cccccc;
}

.navigation li:hover .create-playlist-icon {
    background-color: #cccccc;
}

.navigation li, .navigation > * {
    margin-bottom: 20px;
}

/* HEADER SECTION */

header {
    position: sticky;
    top: 0px;
    background-color: var(--header-background);
}

header button {
    background-color: var(--header-background);
    position: absolute;
    right: 25px;
    top: 22px;
    width: 140px;
    height: 40px;
    color: #cbcccd;
    border: 2px solid #cbcccd
}

/* MAIN SECTION */

main {
    background-color: var(--main-background);
}

.main-content-navigation {
    text-align: center;
}

.main-content-navigation li {
    display: inline;
    margin-right: 25px;
}

main section {
    display: grid;
    grid-auto-columns: 14rem;
    grid-auto-flow: column;
    /* overflow: scroll; */
    text-align: center;
}